# Q1

In [15]:
def uniqueElements(n):
    ul = []
    for i in n:
        if i not in ul: 
            ul.append(i)
        else:
            continue
    return ul

In [16]:
print (uniqueElements([12, 24, 35, 24, 88, 120, 155, 88, 120, 155]))

[12, 24, 35, 88, 120, 155]

# Q2

In [17]:
def hotel_cost(nights):
    cost = nights * 140
    return cost

def plane_ride_cost(city):
    print ("Trip cost from Peshawar city")
    Cities = {
        "Multan":2500,
        "Lahore":1500,
        "Islamabad":400,
        "Faisalabad":1800,
        "Karachi":3000,
        "Abotabad":2200,
        "Gujrat":800,
        "Sahiwal":2200,
        "Attock":300,
        "Bahawalpur":2800,
        "Okara":1500,
        "Sialkot":3000,
        "Gujranwala":2400
    }
    if city in Cities.keys():
        return Cities[city]
    

def rental_car_cost(days):
    cost = 40 * days
    if days >= 3 and days < 7:
        cost -= 20
    elif days >= 7:
        cost -= 50
    return cost
    
def trip_cost(city, days, sm):
    return (hotel_cost(days) + rental_car_cost(days) + plane_ride_cost(city) + sm)

In [18]:
print (trip_cost("Islamabad",5,5000))

Trip cost from Peshawar city
6280

# Q3

In [19]:
def cubes(num):
    c = pow(num,3)
    return c

def by_three(num):
    if num%3 == 0:
        return cubes(num)
    else:
        return False

In [20]:
print (by_three(27))

19683

# Q4

In [21]:
def case_calc(str):
    uc = 0
    lc = 0
    for s in str:
        if s.isupper():
            uc += 1
        elif s.islower():
            lc += 1
    return "Upper case: ",uc ,"Lower case: ",lc

In [22]:
print (case_calc("qswwdadASDAAFAFEdeded"))

('Upper case: ', 9, 'Lower case: ', 12)

# Q5

In [23]:
from math import sqrt
def hypotenuse(base, per):
    hyp = sqrt( (base*base) + (per*per) )
    return hyp

In [24]:
print (hypotenuse(6,8.2))

10.16070863670443