In [7]:
from num2words import num2words

In [27]:
str(num2words(1230))

'one thousand, two hundred and thirty'

In [11]:
def num_to_words():
    n = input("Enter a number: ")
    d = {}
    for i in range(0 , n+1):
        d[i] = str(num2words(i))
    print num2words(i)
        
    #return d

num_to_words()

Enter a number: 152
one hundred and fifty-two

In [2]:
def numTowords():
    d = {}
    n = int(input("Enter a number: "))
    for i in range(0,n+1):
        d[i] = "one"
    print d
numTowords()

Enter a number: 15
{0: 'one', 1: 'one', 2: 'one', 3: 'one', 4: 'one', 5: 'one', 6: 'one', 7: 'one', 8: 'one', 9: 'one', 10: 'one', 11: 'one', 12: 'one', 13: 'one', 14: 'one', 15: 'one'}

In [7]:
Student_Info = {
    "Faizan":176020,
    "Ali":176103,
    "Jawad":176023
}

In [8]:
print Student_Info

{'Jawad': 176023, 'Faizan': 176020, 'Ali': 176103}

In [9]:
Student_Info['Ahmed'] = 176019

In [10]:
print Student_Info

{'Ahmed': 176019, 'Jawad': 176023, 'Faizan': 176020, 'Ali': 176103}

In [12]:
Student_Info['Ali'] = 176002

In [13]:
print Student_Info

{'Ahmed': 176019, 'Jawad': 176023, 'Faizan': 176020, 'Ali': 176002}

In [14]:
Student_Info ['Faizan'] = [176020,'Section-A','Batch-18']

In [15]:
print Student_Info

{'Ahmed': 176019, 'Jawad': 176023, 'Faizan': [176020, 'Section-A', 'Batch-18'], 'Ali': 176002}

In [17]:
i = ['First Name','Info']
Student_Info[i] = 'Roll No.'

TypeError: unhashable type: 'list'

In [19]:
hash('123')

163512108404620371

In [21]:
hash('122')

163512108404620370

In [24]:
del Student_Info["Faizan"]

In [25]:
print Student_Info

{'Ahmed': 176019, 'Jawad': 176023, 'Ali': 176002}

In [27]:
Student_Info.clear()

In [28]:
Student_Info

{}

In [31]:
del Student_Info

NameError: name 'Student_Info' is not defined

In [37]:
list1 = ["Calculus II","English","Pak Stds","ITC"]
list2 = [21,15,24,16]

In [39]:
dict(set(zip(list1,list2)))

{'Calculus II': 21, 'English': 15, 'ITC': 16, 'Pak Stds': 24}

In [98]:
def numtotext(n):
    du = {
        0:'',
        1:'one',
        2:'two',
        3:'three',
        4:'four',
        5:'five',
        6:'six',
        7:'seven',
        8:'eight',
        9:'nine'
    }
    dt = {
        10:'ten',
        11:'eleven',
        12:'twelve',
        13:'thirteen',
        14:'fourteen',
        15:'fifteen',
        16:'sixteen',
        17:'seventeen',
        18:'eighteen',
        19:'nineteen',
        20:'twenty',
        30:'thirty',
        40:'fourty',
        50:'fifty',
        60:'sixty',
        70:'seventy',
        80:'eighty',
        90:'ninety',
        100:'hundred',
    }
    if n < 10:
        unit = du[n]
        return unit
    elif n >= 10 and n < 100:
        if n <= 20:
            tens = dt[n]
            return tens
        else:
            td = (n//10)*10
            ud = (n%10)
            if td and ud:
                tens = dt[td]
                units = du[ud]
                return tens+'-'+units
    elif n >=100 and n < 1000:
        hd = (n//100)*100
        td = (n//100)*10
        ud = (n%10)
        if (hd and ud) or (hd and td and ud):
            hundreds = dt[hd]
            tens = dt[td]
            units = du[ud]
            return units+' '+hundreds+' and '+tens+'-'+units

In [99]:
n = 112
print n

print n,'=',numtotext(n)

112
112 = two hundred and ten-two